Repository zhaoyuuu/violet-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: fix select.scss
  src/components/Select/_style.scss
Due: prettier --write

fix: update useStore in Form
  src/components/Form/useStore.ts
Due: eslint, prettier --write

fix: delect console.log from formItem.tsx
  src/components/Form/formItem.tsx
Due: eslint, prettier --write

fix: update button test file
  src/components/Button/button.test.tsx
Due: eslint, prettier --write

fix: make sure the number of codes is under 300
  src/components/Select/_style.scss
  src/components/Select/select.stories.tsx
  src/components/Select/select.tsx
  src/components/Select/selectProps.tsx
  src/components/Select/selectStories.code.tsx
  src/hooks/useClickOutside.tsx
  src/hooks/useNotFirstUpdate.tsx
Due: eslint, prettier --write

fix: add select'test
  src/components/Select/select.test.tsx
Due: eslint, prettier --write

fix: delete input underline
  src/components/Input/_style.scss
Due: prettier --write

feat: update version to v0.3.1
  package.json
Due: none

fix: storybook homepage
  README.md
  src/stories/Introduction.stories.mdx
Due: none

fix link button
  src/components/Button/_style.scss
  src/components/Button/button.tsx
Due: eslint, prettier --write

fix: button.tsx & button_story
  package.json
  src/components/Button/_style.scss
  src/components/Button/button.stories.tsx
  src/components/Button/button.tsx
Due: eslint, prettier --write

fix: remove all console_log
  src/components/Form/form.stories.tsx
Due: eslint, prettier --write

fix: add compositon optimization in select
  package-lock.json
  src/components/Select/select.stories.tsx
  src/components/Select/select.tsx
Due: eslint, prettier --write

fix: build script
  dist/components/Icon/icon.d.ts
  dist/components/Icon/index.d.ts
  dist/components/Input/index.d.ts
  dist/components/Input/input.d.ts
  dist/components/InputNumber/index.d.ts
  dist/components/InputNumber/inputNumber.d.ts
  dist/components/Menu/index.d.ts
  dist/components/Menu/menu.d.ts
  dist/components/Menu/menuItem.d.ts
  dist/components/Menu/subMenu/subMenu.d.ts
  dist/components/Progress/index.d.ts
  dist/components/Progress/progress.d.ts
  dist/components/Radio/index.d.ts
  dist/components/Radio/radio.d.ts
  dist/components/Radio/radioGroup.d.ts
  dist/components/RangeDatePicker/RangeDatePicker.d.ts
  dist/components/RangeDatePicker/RangePickerInput.d.ts
  dist/components/Select/index.d.ts
  dist/components/Select/option.d.ts
  dist/components/Select/select.d.ts
  dist/components/Switcher/index.d.ts
  dist/components/Switcher/switcher.d.ts
  dist/components/Tabs/index.d.ts
  dist/components/Tabs/tabItem.d.ts
  dist/components/Tabs/tabs.d.ts
  dist/components/Transition/index.d.ts
  dist/components/Transition/transition.d.ts
  dist/components/Upload/dragger.d.ts
  dist/components/Upload/index.d.ts
  dist/components/Upload/upload.d.ts
  dist/components/Upload/uploadList.d.ts
  dist/hooks/useClickOutside.d.ts
  dist/hooks/useDebounce.d.ts
  dist/index.d.ts
  package.json
Due: eslint, prettier --write

fix: cicd(deploy) name
  .github/workflows/deploy.yml
Due: none

Deploy Storybook to GitHub Pages
  229.5870de88.iframe.bundle.js
  229.5870de88.iframe.bundle.js.LICENSE.txt
  229.6c6242ffbf54cdcbb33f.manager.bundle.js
  292.d54bb03b4920b9b35bbd.manager.bundle.js
  292.d54bb03b4920b9b35bbd.manager.bundle.js.LICENSE.txt
  295.b7a2dd0e509ffa32977f.manager.bundle.js
  46.37420547.iframe.bundle.js
  51.0766dca0.iframe.bundle.js
  51.0766dca0.iframe.bundle.js.LICENSE.txt
  51.16b41d19e6ca03895b5c.manager.bundle.js
  51.16b41d19e6ca03895b5c.manager.bundle.js.LICENSE.txt
  551.630f91d7.iframe.bundle.js
  551.7be7c86c1ce2392b1302.manager.bundle.js
  701.685ab599.iframe.bundle.js
  745.4c1b9a00.iframe.bundle.js
  807.ae7ba4f8.iframe.bundle.js
  807.ae7ba4f8.iframe.bundle.js.LICENSE.txt
  807.f2f2bef613470a64b550.manager.bundle.js
  807.f2f2bef613470a64b550.manager.bundle.js.LICENSE.txt
  897.97d09ac69f1a294a96a1.manager.bundle.js
  897.97d09ac69f1a294a96a1.manager.bundle.js.LICENSE.txt
  897.ae977a6c.iframe.bundle.js
  897.ae977a6c.iframe.bundle.js.LICENSE.txt
  935.21fc66f3934d36e4de90.manager.bundle.js
  935.a4320cc8.iframe.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.c54372dd0405674f6c53.manager.bundle.js
  main.c9e68506.iframe.bundle.js
  manifest.json
  project.json
  robots.txt
  runtime~main.40a9aef6579770c3b91c.manager.bundle.js
  runtime~main.72054e08.iframe.bundle.js
  static/css/main.9c37e406.css
  static/css/main.9c37e406.css.map
  static/media/solid-logo.f40ef6ac4083a2ba17eb2353014ad39e.svg
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{html,scss})
